html {
    scroll-behavior: smooth;
    transition: all 1.5s ease;
}

.main {
    min-height: 600px;
    background-image: url('../image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.lt-s-2 {
    letter-spacing: 2px;
}

.navbar-brands {
    float: left !important;
}

.paragraf {
    text-indent: 50px;
}

.opportunity .card-header{
    min-height: 75%;
}

.bg-dark {
    background-color: #131313!important;
}

@media(max-width: 768px) {
    .navbar-brands {
        margin: 0 auto;
        float: none !important;
        text-align: center;
        display: block !important;
    }

    .navigasi {
        display: none;
    }
}